<div id="example" ng-app="comosAngularjsApp">
  <div ng-controller="MainCtrl as main">

      <div>
          <input class=k-textbox type=text id="txtSearchString" placeholder="enter search text..." />
          <button id="btnSearch" ng-click="searchMaintenanceTable()">Search</button>
      </div>
      <kendo-grid options="main.tableMaintenance" k-data-source="main.maintenanceDataSource">
      </kendo-grid>

      <kendo-grid options="main.tableInfo" style="margin-top: 50px;">
      </kendo-grid>


  </div>
</div>